# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Visual Studio Files
*.suo
*.VC.db
*.VC.opendb
*.ipch
*.vcxproj*
*.log
*.pdb
*.tlog
*.ipdb
*.iobj
VS*
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.bat
*.sh

# Visual Studio Stuff
.vs/*
Debug/*
GameBooster/*
Release/*
*.sln
x64/*
src/x64/*
src/*.vcxproj*
src/Debug/*
